* {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.app {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

.navigation-container {
  height: 100px;
  width: 100%;
  border-bottom: 2px solid black;
}

.add-a-city {
  cursor: pointer;
  background-color: lightskyblue;
  margin-top: 10px;
  margin-right: 20px;
  height: 35px;
  width: 100px;
  border: none;
  float: right;
}

.add-a-city:hover {
  background-color: darkslateblue;
  box-shadow: 10px 5px 5px black;
  color: white;
}

.add-new-city-form-container {
  text-align: center;
  background-color: cornsilk;
  border-bottom: 2px solid black;
  height: 175px;
  width: 100%;
}

.add-new-city-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  width: 200px;
}

.add-new-city-form label {
  font-size: 22px;
}

.add-new-city-form input[type=text] {
  height: 30px;
  width: 100%;
  margin-top: 10px;
}

.add-new-city-form-container button {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}

.add-new-city-form input[type=submit]{
  margin-top: 10px;
  background-color: lightskyblue;
  border: none;
  height: 30px;
  width: 100%;
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
}

.add-new-city-form input[type=submit]:hover {
  background-color: darkslateblue;
  box-shadow: 10px 5px 5px black;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 200px;
}

.city-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.city-card {
  background-color: white;
  border: 2px solid black;
  display: block;
  border-radius: 10px;
  margin: 10px;
  height: 150px;
  width: 150px;

}

.delete {
  cursor: pointer;
  background-color: red;
  border: 2px solid white;
  font-size: large;
  border-top-left-radius: 7px;
  
}

.delete:hover {
  border: 2px solid black;
  color: black;
  box-shadow: 10px 5px 5px black;
}

.city-name {
  background-color: whitesmoke;
  border: 2px solid black;
  font-size: x-large;
  margin: auto;
  padding-top: 30px;
  text-align: center;
  height: 60px;
  width: 100px;
}

.forecasts-container {
  width: 100%;
}

.forecast-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 2px solid black;
}

.forecast-card {
  background-color: aquamarine;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  height: 150px;
  width: 150px;
}

.requesting-container {
  margin: auto;
  padding: 5px;
  border: 2px solid black;
  box-shadow: 10px 5px 5px black;
}

