* {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.app {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

.navigation-container {
  height: 100px;
  width: 100%;
  background-color: aquamarine;
  border-bottom: 2px solid black;
}

.add-new-city-form-container {
  text-align: center;
  border-bottom: 2px solid black;
  height: 175px;
  width: 100%;
}

.add-new-city-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  width: 200px;
}

.add-new-city-form label {
  font-size: 22px;
}

.add-new-city-form input[type=text] {
  height: 30px;
  width: 100%;
  margin-top: 10px;
}

.add-new-city-form-container button {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}

.add-new-city-form input[type=submit]{
  margin-top: 10px;
  background-color: lightgray;
  border: none;
  height: 30px;
  width: 100%;
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
}

.add-new-city-form input[type=submit]:hover {
  background-color: lightgreen;
}

.cities-container {
  background-color: cadetblue;
  min-height: 200px;
}

